WebClient/src/main/java/proxy/webservice2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.services.webservice.yassine.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.services.webservice.yassine.org/" name="ProductWS">
<types>
<xsd:schema>
<xsd:import namespace="http://impl.services.webservice.yassine.org/" schemaLocation="http://localhost:8080/webservice?xsd=1"/>
</xsd:schema>
</types>
<message name="updateProduct">
<part name="parameters" element="tns:updateProduct"/>
</message>
<message name="updateProductResponse">
<part name="parameters" element="tns:updateProductResponse"/>
</message>
<message name="sellingPrice">
<part name="parameters" element="tns:sellingPrice"/>
</message>
<message name="sellingPriceResponse">
<part name="parameters" element="tns:sellingPriceResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getProduct">
<part name="parameters" element="tns:getProduct"/>
</message>
<message name="getProductResponse">
<part name="parameters" element="tns:getProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<portType name="ProductServiceImpl">
<operation name="updateProduct">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/updateProductRequest" message="tns:updateProduct"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/updateProductResponse" message="tns:updateProductResponse"/>
</operation>
<operation name="sellingPrice">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/sellingPriceRequest" message="tns:sellingPrice"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/sellingPriceResponse" message="tns:sellingPriceResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getProduct">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/getProductRequest" message="tns:getProduct"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/getProductResponse" message="tns:getProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://impl.services.webservice.yassine.org/ProductServiceImpl/addProductResponse" message="tns:addProductResponse"/>
</operation>
</portType>
<binding name="ProductServiceImplPortBinding" type="tns:ProductServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sellingPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductWS">
<port name="ProductServiceImplPort" binding="tns:ProductServiceImplPortBinding">
<soap:address location="http://localhost:8080/webservice"/>
</port>
</service>
</definitions>